body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #gameCanvas {
    display: block;
    background: #1d13d1;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
  }